version: "3.8"
name: "peers"
services:
  rethinkdb:
    image: rethinkdb:2.4.2-bullseye-slim
    restart: on-failure
    ports:
      - "8080:8080"
  server-0:
    image: registry.bottled.codes/peers/server
    build:
      context: .
      target: backend
    restart: on-failure
    volumes:
      - .:/app
    entrypoint: ["./watch.sh","php","src/Server.php"]
    env_file:
      - .env
  frontend:
    image: registry.bottled.codes/peers/frontend
    build:
      context: .
      target: web
    ports:
      - "443:443"
      - "80:80"
    restart: on-failure
    volumes:
      - .:/app
    env_file:
      - .env
